h1{
    color: #f5f5f5;
    margin: 10px 0px 0px;
}
.prof-img{
    width: 250px;
}

body{
    color: #fefefe;
    font-family: 'Courier New', Courier, monospace;
    /*max-width: 650px;*/
    margin:0 auto;
    display:flex;
    flex-direction: column;
    min-height:  100vh; /*viewport height vh*/
    
}
.main-content{
    background-image: url(../img/bg1.jfif) ;
    background-size: cover;
    flex-grow: 1; /*take all the leftover space*/
}
footer{
    background-color:#f5f5f5;
    border-top: 1px solid #666666;
    padding:15px 5px;
    margin-top: 20px;
    color: #e8e8e8;

}
header{
    font-size :45px;
    margin-bottom : 15px;
}
a{
    font-size: 18px;
}
header a{
    color :#222;
    text-decoration: none;
    margin-right: 20px;
}
header ul {
    list-style-type: none;
    display: inline-flex;
    padding: 0px;
    margin: 0 15px 0px 0px;
}


header ul li a:hover{
    background-color: #333;
    color:#f5f5f5;
}

input{
    border: 1px solid #c6c6c6;
    padding : 8px;
}
button{
    cursor: pointer;
    border: 1px solid #c6c6c6;
    background-color: #999;
    color :#f5f5f5;
    padding: 8px;
}
.border-custom{
    border: 2px solid;
    border-image: linear-gradient(130deg,#2158f278,#4a584d 41.07%,#b5b1a0 76.05%) 1;
}
.card-bg{
    background-color:transparent !important;
    max-width: 18rem !important;
    border: 1px solid !important;
    border-image: linear-gradient(130deg,#2158f278,#4a584d 41.07%,#b5b1a0 76.05%) 1;
}
.card-header{
    border-bottom: 2px solid;
    border-image: linear-gradient(130deg,#2158f278,#4a584d 41.07%,#b5b1a0 76.05%) 1;
}
