<footer class="footer mt-auto py-3 bg-dark">

    <span>Created by {{name}} and &copy;2021</span>
    <span> <a class="nav-link" href="https://github.com/vekeshkumar/node-learning-weather-app"><i
                class="fab fa-github"></i></a></span>

</footer>